<%= simple_form_for @customer, html: { class: 'form-horizontal' } do |c| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Account</legend>
    
    <%= c.simple_fields_for :user do |f| %>
      <%= f.input :username %>
      <%= f.input :password, input_html: {class: "avg"} %>
      <%= f.input :password_confirmation, input_html: {class: "avg"} %>
      <% if current_user && current_user.role?(:admin) %>
        <%= f.input :role, collection: ["Customer", "Baker", "Shipper", "Admin"], prompt: "Select role" %>
      <% end %>
    <% end %>
    
    <%= c.input :first_name, input_html: {class: "avg"} %>
    <%= c.input :last_name, input_html: {class: "avg"} %>
    <%= c.input :email, input_html: {class: "avg"} %>
    <%= c.input :phone, input_html: {class: "avg"} %>

    <div class="form-actions">
      <%= c.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel', home_path, :class => 'button alert radius' %>
    </div>
  </fieldset>
<% end %>

